@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: hsl(217, 54%, 11%);
    --main-sidebar-color: hsl(216, 50%, 16%);
    --main-heading-color: hsl(0, 0%, 100%);
    --main-text-color: hsl(215, 51%, 70%);
    --main-btn-color: hsl(178, 100%, 50%);
    --main-line-color: hsl(215, 32%, 27%);
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Outfit', sans-serif;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
    margin-top: 5px;
}

h1 {
    color: var(--main-heading-color);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.title {
    font-size: 18px;
}

.description .title {
    font-size: 14px;
}

h2 {
    color: var(--main-heading-color);
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

h3 {
    color: var(--main-heading-color);
    font-family: 'Fraunces', serif;
    font-size: small;
    font-weight: 200;
}

h4 {
    color: var(--main-heading-color);
    font-family: 'Fraunces', serif;
    font-size: smaller;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    line-height: 1.2;
    margin: 30px;
    padding: 5px;
}

.profile img {
    border: 2px solid var(--main-line-color);
    border-radius: 50%;
    height: 60px;
}

.image {
    height: 45px;
}

input {
    border-radius: 20px;
    height: 40px;
    border: none;
}

input:focus {
    outline: none;
    border: 1.5px solid var(--main-btn-color) ;
}

input::placeholder {
    text-align: center;
}

.header {
    display: grid;
    align-items: center;
    grid-column: 2/3;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    align-items: center;
    padding: 10px;
}

.nav .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
    padding: 10px;
}

.menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

button {
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 30px;
}

.sidebar {
    background-color: var(--main-sidebar-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-row: 1/3;
    padding: 10px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: underline;
}

.options {
    margin: 30px;
}

.option {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.option:hover {
    color: var(--main-btn-color);
    text-decoration: underline;
    transition: all ease-out 3sec;
}

img:hover {
    background-color: var(--main-btn-color);
    border-radius: 10px;
}

.icons {
    height: 20px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1fr, 1fr);
    gap: 10px;
}

.project {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.project-container .card {
    background-color: var(--main-sidebar-color);
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px;
    padding: 10px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-color:var(--main-btn-color) ;
}

.git-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.announcement  .announcement-card{
    background-color: var(--main-sidebar-color);
    border-radius: 10px;
    padding: 10px;
}

hr {
    background-color: var(--main-line-color);
    border: none;
    height: 1px;
    margin: 10px;
}

.treading {
    grid-column: 2/3;
    grid-row: 2/3;
}

.profile-card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-sidebar-color);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.profile-1 {
    display: flex;
    gap: 10px;
}

.profile-1:hover {
    text-decoration: underline;
    color: var(--main-btn-color);
}

/* media query */
@media(max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .announcement {
        padding: 10px;
        width: 400px;
    }

    .treading {
        padding: 10px;
        width: 300px;
    }
}
